* {
	margin: 0;
	padding: 0;
	font-family: 'Cormorant Garamond', serif;
	font-weight: lighter;
}

.top {
	height: 110px;
	background: #FFC8F4;
	border-bottom: 1px solid #D3D0D3;
	display: flex;
	justify-content: center;
}

.nav-link {
	height: 110px;
	width: 200px;
}

.nav-link a {
	display: block;
	margin: 45px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 25px;
}

.nav-link a:hover {
	font-size: 27px;
}

.main-logo {
	height: 180px;
	width: 180px;
	background: #FFC8F4;
	border-radius: 100px;
}

.main-logo img {
	margin: 0 36px;
}

.headline {
	height: 480px;
	background: url(../img/spa.jpg);
}

.content {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;	
}

.content-section {
	margin: 40px 0 0 0;
}

.content-section h1 {
	text-align: center;
	font-weight: lighter;
	font-size: 50px;
}

.section-body {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.panel {
	width: 420px;
	background: #FFC8F4;
	margin: 15px;
	border-radius: 10px;
	padding: 30px;
}

.panel h2 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
}

.panel h3 {
	font-size: 20px;
	margin: 15px 0;
}

.panel li {
	text-align: center;
	font-size: 20px;
	list-style-type: none;
	line-height: 2em;
}

.panel p {
	margin-left: 10px;
	line-height: 1.5em;
}

.testimonials {
	background: url(../img/treatment.jpg);
}

.quote {
	padding: 20px;
}

.quote p {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 20px;
}

.left{
	margin: 20px 100px 20px 0;
	background: rgba(254,198, 247, 0.4);
	border-radius: 25px 25px 25px 4px;	
}

.right{
	margin: 20px 0 20px 100px;
	background: rgba(0,133, 255, 0.4);
	border-radius: 25px 25px 4px 25px;	
}

.contact-button {
	padding: 40px 45px;
	background: #FFC8F4;
	margin: 20px;
	border-radius: 100px;
}

.contact-button a:link {
	color: #7F7F7F;
}

.contact-button a:visited {
	color: #7F7F7F;
}

.contact-button a:hover {
	color: #363636;
}

.contact-button a:active {
	color: #ffffff;
}